export(eachMutationCA)
export(Berrorplo)
export(DirichletCancerGenomes)
export(extractparallel)
export(fobjective)
export(IterateInitialvalue)
export(nmf)
export(normalize)
export(denovoNMF)
export(S0choose)
export(SilhouetteCoefficient)
export(strseq)
export(judgeType)
export(MafSigsInputID)
export(MafSigsInputSBS)
export(MafSigsInputDBS)
export(SigsInput)
export(VcfSigsInput)
export(PlotSBS96)
export(PlotID83)
export(PlotDBS78)
export(Box_pos)
export(posfun)
export(posfun2)
export(pos_get)
export(Box_plot)
export(polyplot)
export(polygon_color)
export(fitcolor)
export(cal_d)
export(cal_line_d)
export(SBSlego)
export(IDlego)
export(DBSlego)
export(confidencexy)
export(cumulativeCA)
export(geneMatrixNum)
export(samMatrixSigs)
export(InverseNMF)
export(IterateISmatrix)
export(smoothSmatrix)
export(genePerMutSigs)
export(samPerMutSigs)
export(samFisherSigs)
export(corf)
export(similarityCOSMIC)
export(similarityAB)
